<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.torkdev.market4me">

    <!-- Le indicamos a google play que esta app usa la camara pero no es indispensable para la app -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <!-- Le indicamos a google play que esta app escribe y lee en memoria (para guardar las fotos)  -->
    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.torkdev.market4me.MainActivityTest"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.torkdev.market4me.RecipeListActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.torkdev.market4me.DisplayRecipeActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.torkdev.market4me.HomeDashBoardActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.torkdev.market4me.NewRecipeActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />


        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.torkdev.market4me.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>